.button {
    max-width: 307px;
    width: 100%;
    block-size: 39px;
    border: none;
    border-radius: 28px;
    background:none;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
    color: hsla(253, 100%, 10%, 0.8);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 268px; 
  
}

.botonesmodulo {
    background: var(--caribe70) ;
    block-size: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
           
}
.buttonssa{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 297px;
    width: 100%;
    
}

#buttonlibrary{
   display:flex;
   justify-content: center;
   align-items: center;
   max-width: 297px;
   width: 100%;
   block-size: 39px;
   border-inline: 3px solid white;
    
}
#search  {
    margin-inline-start: 5px;    
    margin-inline-end: 10px;
    margin-inline: 10px; 
    inline-size: 173px;
    inline-size: 149px; 
    background: hsla(0, 0%, 100%, 0.8);
    box-shadow: 4px 4px 3px 0px hsla(263, 100%, 21%, 0.29);
    color:hsla(253, 100%, 10%, 1);
    font-weight: 800;
   
    
}
#analysis { 
    margin-inline-start: 10px;
    margin-inline-end: 5px;
    
    
}
#save{
    margin-inline: 10px; 
    inline-size: 173px;
    color:hsla(253, 100%, 10%, 1);
    background: hsla(0, 0%, 100%, 0.8);
    box-shadow: 4px 4px 3px 0px hsla(263, 100%, 21%, 0.29);
    font-weight: 800;
    
      
}

.button-go{
    width: 140px;
    height: 48px;
    padding: 12px;
    border-radius: 15px;
    background:var(--orange);
    border: none;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-block-end: 50.5px;
    background-image: url(../assets/img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: top 12px right 12px;
    
}
.button-go:hover{
    box-shadow: 6px 6px 6px -1px rgba(11, 0, 51, 0.4);
    
}






