* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    margin-top: 1.875rem;
    justify-content: center;
}

main {
    margin-top: 6.25rem;
}

.search_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: 0px auto;
    padding: 0px 100px 0px 50px;
    width: 64.9375rem;
    height: 13.375rem;
    background-color: #0B0033;
    border-radius: 82px;
}

.search_title {
    color: #fff;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 2rem;
    line-height: normal;
    margin-top: 20px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.busqueda {
    width: 705px;
    height: 40px;
    border-radius: 30px;
    margin: 15px 0px;
    padding: 20px;
}

.search_btn {
    background: #6100FF;
    width: max-content;
    border-radius: 15px;
    gap: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.mic_btn {
    color: #fff;
    cursor: pointer;
}

.avatar {
    height: 26.9375rem;
    position: absolute;
    left: 71%;

}

#search_result_section {
    max-width: 55.375rem;
}

#definition_card {
    width: 58.125rem;
    height: 24.25rem;
    background-color: #0B0033;
    background-image: url(../assets/img/avatar_busqueda.svg);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 30px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#definition_card p {
    color: #fff;
    text-align: right;
    text-wrap: balance;
    margin: 100px 50px;
    width: 600px;
    float: right;
}

#card_title {
    text-align: center;
}

#download_btn{
    background: none;
    border: none;
    float: right;
    position: relative;
    margin-top: 16%;
    cursor: pointer;
}

#suggestion_card {
    width: 58.125rem;
    height: 20.25rem;
    background-color: #0B0033;
    border-radius: 30px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
}

.suggestion_title {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    margin: 1.875rem;
}

.suggestion-container{
    display: flex;
}

#suggestion_card span {
    background-color: #6100FF;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 6px 108px;
    display: flex;
    width: 684px;
    align-items: center;
    justify-content: flex-start;
}

.copy-btn{
    background: none;
    border: none;
    border-radius: 100%;
    margin-right: 100px;
    width: 2%;
    cursor: pointer;

}
.copy_icon{
    background: #6100FF;
    
}
#result_section {
    width: 100% !important;
    display: flex;
    margin-top: 85px;
    justify-content: center;

}

.tab_box {
    background-color: rgba(28, 187, 196, 0.10);
}

.card {
    background-color: rgba(255, 255, 255, 0.50);
    margin: 40px;
    border-radius: .9375rem;
    display: flex;
    padding: 10px 30px 10px 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    align-self: stretch;
}

#tab_btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgba(28, 187, 196, 0.70);
}



#api1_btn,
#api2_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 66.25rem;
}



#search_videos{
    margin: 20px 0px 20px 700px;
}
#search_articles{
    margin: 20px 700px 20px 0px;
}

.line{
    margin-top: 1%;
}

.tabButton {
    border: none;
    background-color: rgba(28, 187, 196, 0.10);
    cursor: pointer;
    margin: 20px;
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

/* .tabButton .default-image{
    display: block;
}
.tabButton .active-image{
    display: none;
} */

.tabButton:active {
    color: hsla(253, 100%, 10%, 1);
    background: hsla(0, 0%, 100%, 0.8);
    box-shadow: 5px 8px 24px gray;
    font-weight: 800;
}

/* .tabButton:active .default-image{
    display: none;
}

.tabButton:active .active-image{
    display: block;
}
 */
[data-content] {
    display: none;
}

.activo[data-content] {
    color: hsla(253, 100%, 10%, 1);
    font-weight: 800;
    display: block;
    position: relative;
    right: 50%;
    overflow-y: scroll;
    height: 600px;
    scrollbar-color: #6100FFB2;
}

.active {
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: 4px 4px 3px 0px rgba(40, 0, 105, 0.29)
}

.save-button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}

.video_card {
    height: 39.5625rem;
    width: 57.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 1.25rem;
    gap: .3125rem;
    margin: 0px 20px;
    padding: 1.25rem;
    align-items: flex-end;
}

.video_card button{
    float: right;
}

.video_img{
    width: 55rem;
    height: 31.625rem;
}

#videos {
    left: 50%;
    overflow: auto;
}

.video_container{
    display: flex;
    flex-direction: column;
    width: 61.25rem;
    height: auto;
    overflow-y: hidden;
    gap: 1rem;
}

.video_link{
    text-decoration: none;
    color: #0B0033;
}

.video_link:hover{
    text-decoration: underline;
    color: #6100FF;
}

.video_link h3 img:hover{
    color: #6100FF;
}

.card_img {
    width: 22.5rem;
    height: 12.6875rem;
    border-radius: .6875rem;
    border: 1px solid #000;
    margin: 20px;
}

.active_tab_btn {
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 1.75rem;
    box-shadow: 4px 4px 3px 0px rgba(40, 0, 105, 0.29);
    width: 17.5rem;
    height: 7.5rem;
    margin: 30px auto;
    cursor: pointer;
}

.tab_btn {
    background-color: rgba(28, 187, 196, 0.70);
    border: none;
    width: 17.5rem;
    height: 7.5rem;
    cursor: pointer;
    margin: 30px auto;

}

.card-content {
    padding: 10px;
}

.card-content a {
    text-decoration: none;
    color: #6100FFB2;

}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0B0033;
    margin-bottom: .9375rem;
}

.card-text {
    font-size: 1rem;
    color: #0B0033;
    line-height: normal;
    font-style: italic;
    font-weight: 400;
    margin-top: .9375rem;

}



#save_container{
    position: absolute;
    background-color: #FFFFFF;
    width: 27.4375rem;
    height: 15.3125rem;
    border-radius: 1.25rem;
    display: flex;
    gap: 15px;


}

.save_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style: none;
}

#c1, #c2{
    background: #6100FF;
    color: #fff;
    border: none;
    border-radius: 1.875rem;
    width: 25.75rem;
    height: 2.4375rem;
    margin: 15px;
    cursor: pointer;
}

#new_folder{
    background-color: #FF7000;
    color: #fff;
    border: none;
    border-radius: 1.875rem;
    width: 25.75rem;
    height: 2.4375rem;
    margin: 15px;
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width :992px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search_section,
    .busqueda {
        width: auto;
    }

}