:root {
    --violet: #6100FF;
    --tech: #0B0033;
    --orange: #FF7000;
    --caribe70: hsla(183, 75%, 44%, 0.7);
    --white80: hsla(0, 0%, 100%, 0.8);
    --caribe: hsla(183, 75%, 44%, 1);
    --caribe30: hsla(183, 75%, 44%, 0.3);
    --aqua30: #1CBBC44D;
    --white: #ffffff;
    --pale-gray: rgba(250, 250, 250, 0.98);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
    align-items: center;
    justify-content: center;
    overflow-x: clip;
}

main {
    margin-top: 6.25rem;
}

.search_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: 0px auto;
    padding: 0px 100px 0px 50px;
    width: 64.9375rem;
    height: 13.375rem;
    background-color: var(--tech);
    border-radius: 82px;
}

.search_title {
    color: var(--white);
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 2rem;
    line-height: normal;
    margin-top: 20px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.busqueda {
    width: 705px;
    height: 40px;
    border-radius: 30px;
    margin: 15px 0px;
    padding: 20px;
}

.search_btn {
    background: var(--violet);
    width: max-content;
    border-radius: 15px;
    gap: 10px;
    padding: 10px 20px;
    color: var(--white);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.mic_btn {
    color: var(--white);
    cursor: pointer;
}

.avatar {
    height: 26.9375rem;
    position: absolute;
    left: 63%;

}

#search_result_section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.definition-card, .suggestion-card{
    display: none !important;
}

#capture-area{
    width:55.9rem;
    height: 30rem;
}
#definition_card {
    width: 54.9375rem;
    height: 25.5rem;
    background-color: var(--tech);
    background-image: url(../assets/img/avatar_busqueda.svg);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 30px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#definition_card p {
    color: var(--white);
    text-align: center;
    text-wrap: balance;
    margin: 70px 50px;
    width: 37.5rem;
    float: right;
}

#card_title {
    text-align: center;
    margin-bottom: .9375rem;
}

.logo_card {
    margin-top: 1.875rem;
}

#download_btn {
    background: none;
    border: none;
    float: right;
    position: relative;
    margin-top: 10%;
    cursor: pointer;
}

#suggestion_card {
    width: 54.9375rem;
    height: 18.25rem;
    background-color: var(--tech);
    border-radius: 30px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
}

.suggestion_title {
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    margin: 1.875rem;
}

.suggestion-container {
    display: flex;
}

#suggestion_card span {
    background-color: var(--violet);
    padding: 5px 10px;
    border-radius: 20px;
    margin: 6px 108px;
    display: flex;
    width: 684px;
    align-items: center;
    justify-content: flex-start;
}

.text_to_copy {
    color: var(--white);
}

.copy-btn {
    background: none;
    border: none;
    border-radius: 100%;
    margin-right: 100px;
    width: 2%;
    cursor: pointer;

}

.copy_icon {
    background: var(--violet);

}


.custom-swal-popup {
    width: 1000px !important;
    height: 80px !important;
    padding: 0.5rem 1rem;
  }
  
  .custom-swal-title {
    font-size: 16px;
    margin-bottom: 0;
  } 
  

#result_section {
    width: 100vw;
    display: flex;
    margin-top: 85px;
    justify-content: center;
    align-items: center;

}

.card {
    background-color: rgba(255, 255, 255, 0.50);
    margin: 0px 20px 30px;
    border-radius: .9375rem;
    display: flex;
    padding: 10px 30px 10px 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    align-self: stretch;
}

#tab_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgba(28, 187, 196, 0.70);
     
}



#api1_btn,
#api2_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}



#search_videos {
    margin: 20px 0px 20px 700px;
}

#search_articles {
    margin: 20px 700px 20px 0px;
}

.line {
    margin-top: 1%;
}

.tabButton {
    border: none;
    background-color: rgba(28, 187, 196, 0.10);
    cursor: pointer;
    margin: 20px;
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

.default-img {
    margin: auto;
}

.active-image {
    margin: auto;
}


.tabButton:active {
    color: hsla(253, 100%, 10%, 1);
    background: hsla(0, 0%, 100%, 0.8);
    box-shadow: 5px 8px 24px gray;
    font-weight: 800;
}

#search_videos .active-image {
    display: block;
}

#search_videos .default-img {
    display: none;
}

#search_articles .default-img {
    display: block;
}

#search_articles .active-image {
    display: none;
}

[data-content] {
    display: none;
}

.activo[data-content] {
    color: hsla(253, 100%, 10%, 1);
    font-weight: 800;
    display: block;
    position: relative;
    right: 50%;
    overflow-y: scroll;
    height: 600px;
    scrollbar-color: #6100FFB2;
}

.active {
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: 4px 4px 3px 0px rgba(40, 0, 105, 0.29)
}

.save-button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}

#articles {
    height: 62.5rem;
    margin-top: 3.125rem;
}

.video_card {
    height: 41.5625rem;
    width: 57.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 1.25rem;
    gap: .3125rem;
    margin: 0px 20px;
    padding: 1.25rem;
    align-items: flex-end;
}

.video_card button {
    float: right;
}

.video_img {
    width: 55rem;
    height: 31.625rem;
}

#videos {
    height: 62.5rem;
    left: 50%;
    overflow: auto;
    margin-top: 3.125rem;
}

.video_container {
    display: flex;
    flex-direction: column;
    width: 59.25rem;
    height: auto;
    overflow-y: hidden;
    gap: 1rem;
}

.video_link {
    text-decoration: none;
    color: var(--tech);
}

.video_link:hover {
    text-decoration: underline;
    color: var(--violet);
}

.video_link h3 img:hover {
    color: var(--violet);
}

.card_img {
    width: 22.5rem;
    height: 12.6875rem;
    border-radius: .6875rem;
    border: 1px solid #000;
    margin: 20px;
}

.active_tab_btn {
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 1.75rem;
    box-shadow: 4px 4px 3px 0px rgba(40, 0, 105, 0.29);
    width: 17.5rem;
    height: 7.5rem;
    margin: 30px auto;
    cursor: pointer;
}

.tab_btn {
    background-color: rgba(28, 187, 196, 0.70);
    border: none;
    width: 17.5rem;
    height: 7.5rem;
    cursor: pointer;
    margin: 30px auto;

}

.card-content {
    padding: 10px;
}

.card-content a {
    text-decoration: none;
    color: var(--Tech);

}

.art-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
}

.art-title:hover{
    color: var(--violet);
    text-decoration: underline;

}

.go-icon{
    height:30px;
    margin-left: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0B0033;
    margin-bottom: .9375rem;
}

.card-text {
    font-size: 1rem;
    color: #0B0033;
    line-height: normal;
    font-style: italic;
    font-weight: 400;
    margin-top: .9375rem;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
    z-index: 999; /* Ensure the overlay appears above other elements */
}


#save_container {
    position: absolute;
    margin: auto;
    background-color: #FFFFFF;
    width: 28.125rem;
    height: 18.75rem;
    border-radius: 1.25rem;
    display: flex;
    gap: 15px;
    box-shadow: 0px 38px 90px 0px rgba(0, 0, 0, 0.25), 0px 0px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 1px 0px rgba(0, 0, 0, 0.60), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.save_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
}

.save_div h3 {
    text-align: center;
}

ul {
    list-style: none;
}

#c1,
#c2 {
    background: var(--violet);
    color: var(--white);
    border: none;
    border-radius: 1.875rem;
    width: 21.875rem;
    height: 2.4375rem;
    margin: 5px 15px;
    cursor: pointer;
    text-align: start;
    font-family: Urbanist;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#c1 img,
#c2 img, 
#new_folder img{
    margin: 0px 10px; 
}

#new_folder {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 1.875rem;
    width: 21.875rem;
    height: 2.4375rem;
    margin: 5px 15px;
    cursor: pointer;
    text-align: start;
    font-family: Urbanist;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

/* Media Queries */
@media screen and (max-width :992px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search_section,
    .busqueda {
        width: auto;
    }

}